@media (prefers-color-scheme: dark) {
	body {
		background: #23222B;
		color: #CCC;
	}
	*:link {
		color: #AAF;
	}
	*:visited {
		color: #CAC;
	}
}

body.panel {
	min-width: 15rem;
}
body.panel .slice {
	display: flex;
	padding: .5rem;
	gap: .5rem;
	align-items: stretch;
}
body.panel .slice button {
	min-height: 3rem;
	padding: 0 .5rem;
	text-align: center;
}
body.panel #granted-permissions-span,
body.panel #permissions-button {
	flex-grow: 1;
}
body.panel #options-button {
	min-width: 3rem;
}
body.panel #granted-permissions-span:not([hidden]) {
	display: grid;
	align-content: center;
}
body.panel #extension-version {
	color: #888;
}
body.panel h2 {
	margin: .5rem .5rem .5rem 1.5rem;
	padding: 0;
}
body.panel ul {
	margin: 0 .5rem 0 1.5rem;
	padding: 0;
}
body.panel ul ul {
	margin: 0 0 0 1rem;
}
body.panel a {
	text-decoration: none;
}
body.panel a:hover {
	text-decoration: underline;
}
body.panel span[title] {
	text-decoration: underline dashed;
}

ul:empty::before {
	content: "(none)";
	color: gray;
}
#warning:not(:empty) {
	margin: .5em 0;
	padding: 1em;
	background: #C04;
	color: #FFF;
	text-align: center;
}
#settings {
	margin: 0 0 3em 0;
}
.option {
	margin: .5em 0;
}
.option .reset {
	text-decoration: underline dashed;
	background: none;
	border: none;
	padding: 0;
	color: #88C;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}
.option:not(:focus-within) .reset {
	opacity: 0;
	z-index: -1;
	position: relative;
}
input[type=text],
input[type=url] {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 2px;
	border: 1px inset #CCC;
	border-radius: 3px; 
}
#permissions button,
#saves button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: .5em 0;
	text-align: center;
}
