@media (prefers-color-scheme: dark) {
	body {
		background: #23222B;
		color: #CCC;
	}
	*:link {
		color: #AAF;
	}
	*:visited {
		color: #CAC;
	}
}

body.panel {
	min-width: 15rem;
}
body.panel #lead-slice {
	display: flex;
	padding: .5rem;
	gap: .5rem;
}
body.panel #lead-slice button {
	min-height: 3rem;
	padding: 0 .5rem;
	text-align: center;
}
body.panel #granted-permissions-span,
body.panel #permissions-button {
	flex-grow: 1;
}
body.panel #permissions-button,
body.panel #options-button {
	align-self: stretch;
}
body.panel #options-button {
	min-width: 3rem;
}
body.panel #granted-permissions-span {
	align-content: center;
	text-align: center;
	color: #888;
}
body.panel #extension-version {
	color: #888;
}
body.panel h2 {
	margin: .5rem;
	margin-inline-start: calc(.5rem + 16px + .25rem);
	padding: 0;
}
body.panel ul.actions,
body.panel ul.actions ul {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
body.panel ul.actions li {
	margin: 0;
	padding: 0;
}
body.panel ul.actions li:first-child {
	border-top: solid 1px #8882;
}
body.panel ul.actions li {
	border-bottom: solid 1px #8882;
}
body.panel ul.actions li ul li:last-child {
	border-bottom: none;
}
body.panel ul.actions .slice,
body.panel ul.actions .passive-slice {
	display: flex;
	position: relative;
	padding: .25rem .5rem;
	gap: .25rem;
	line-height: 16px;
}
body.panel ul.actions .slice .slice-icon, 
body.panel ul.actions .passive-slice .slice-icon {
	width: 16px;
	height: 16px;
}
body.panel ul.actions ul .slice,
body.panel ul.actions ul .passive-slice {
	padding-inline-start: 1.5rem;
}
body.panel ul.actions .slice:hover {
	background: #8882;
}
body.panel ul.actions .slice a::after {
	position: absolute;
	inset: 0;
	z-index: 1;
	content: "";
}
body.panel ul.actions:empty::before {
	margin-inline-start: calc(.5rem + 16px + .25rem);
}
body.panel a {
	text-decoration: none;
}
body.panel a:hover {
	text-decoration: underline;
}
body.panel span[title] {
	text-decoration: underline dashed;
}

ul:empty::before {
	content: "(none)";
	color: gray;
}
#warning:not(:empty) {
	margin: .5em 0;
	padding: 1em;
	background: #C04;
	color: #FFF;
	text-align: center;
}
#settings {
	margin: 0 0 3em 0;
}
.option {
	margin: .5em 0;
}
.option .reset {
	text-decoration: underline dashed;
	background: none;
	border: none;
	padding: 0;
	color: #88C;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: 100%;
	box-sizing: border-box;
	cursor: pointer;
}
.option:not(:focus-within) .reset {
	opacity: 0;
	z-index: -1;
	position: relative;
}
input[type=text],
input[type=url] {
	display: block;
	box-sizing: border-box;
	width: 100%;
	padding: 2px;
	border: 1px inset #CCC;
	border-radius: 3px; 
}
#permissions button,
#saves button {
	display: block;
	box-sizing: border-box;
	width: 100%;
	margin: .5em 0;
	text-align: center;
}
